$primary-black-color: #212121;
$primary-white-color: #f7f6f8;
$primary-purple-color: #8c3be5;
$primary-navy-color: #1d4964;
$primary-grey-color: #d7d8dd;

$error-color: #df0237;
$success-color: #047453;

$letter-spacing-small: 0.2rem;

$gradient: linear-gradient(
  90deg,
  $primary-black-color 25%,
  $primary-purple-color
);

@mixin container {
  background: $gradient;
  padding: 5rem;
  height: 84vh;
}
