$primary-black-color: #212121;
$primary-white-color: #f7f6f8;
$primary-purple-color: #8c3be5;
$primary-navy-color: #1d4964;
$error-color: #df0237;

$gradient: linear-gradient(
  90deg,
  $primary-black-color 25%,
  $primary-purple-color
);
