@import "../../app/styles/index.scss";

.group {
  border: 1px solid $primary-white-color;
  color: $primary-white-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.buttonsContainer {
  display: flex;
  gap: 2rem;
}
