@import "../../app/styles/index.scss";

.navlist {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.link {
  position: relative;
  font-size: 1.8rem;
  color: $primary-white-color;

  &:visited {
    color: $primary-white-color;
  }

  &::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 2.4rem;
    left: 0;
  }

  &:hover::after {
    border-bottom: 2px solid $primary-purple-color;
    animation: 0.3s animateLink;
    -webkit-animation: 0.3s animateLink;
  }

  &.active {
    border-bottom: 2px solid $primary-purple-color;
  }
}

@keyframes animateLink {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.active {
  border-bottom: 1px solid grey;
}

.dropdown {
  position: relative;
  display: inline-block;

  &Content {
    display: none;
    position: absolute;
    width: 10rem;
    top: 100%;
    left: -50%;
    background-color: $primary-black-color;
    z-index: 1;

    & .linkdrop {
      display: block;
      padding: 1rem;
    }
  }
  &:hover &Content {
    display: block;
  }
}
