@import "../app/styles/index.scss";

.container {
  @include container;
}

.createFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h1 {
    color: $primary-white-color;
    margin-bottom: 2rem;
  }
}

.createForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
