@import "../app/styles/index.scss";

.container {
  background: $gradient;
  padding: 5rem;
  height: 84vh;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
