@import "../app/styles/index.scss";

.container {
  background: $gradient;
  padding: 5rem;
  height: 84vh;
}

.groupContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.group {
  border: 1px solid $primary-white-color;
  color: $primary-white-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
