@import "../app/styles/index.scss";

.container {
  background: $gradient;
  padding: 5rem;
  min-height: 84vh;

  & h1 {
    text-align: center;
    color: $primary-white-color;
    margin-bottom: 4rem;
  }
}

.reviewsContainer {
  border: 1px solid $primary-white-color;
  border-radius: 1rem;

  & h2 {
    text-align: center;
    color: $primary-white-color;
    margin-top: 20rem;
  }
}

.groupActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;

  & .buttonsContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  color: $primary-white-color;
  padding: 2rem;
  border-bottom: 1px solid $primary-white-color;

  & div {
    margin: 0 auto;
  }
}
