@import "../app/styles/index.scss";

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 84vh;
  padding: 5rem;
  background: linear-gradient(
    90deg,
    $primary-black-color 25%,
    $primary-purple-color
  );

  &__left {
    margin: 0 auto;
  }

  &__right {
    margin: 0 auto;
  }

  &__header {
    color: $primary-white-color;
    font-size: 6rem;
    margin-bottom: 2.5rem;
    letter-spacing: 0.3rem;
  }

  &__text {
    color: $primary-white-color;
    margin-bottom: 2.5rem;
    max-width: 55rem;
    font-size: 2rem;
    line-height: 3.5rem;
  }
}
