@import "../app/styles/index.scss";

.container {
  height: 84vh;
  padding: 5rem;
  background: $gradient;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  & h2 {
    font-size: 4rem;
    letter-spacing: 0.2rem;
    color: $primary-white-color;
  }

  & form {
    display: flex;
    flex-direction: column;
    max-width: 55rem;
    gap: 2rem;

    & label {
      color: $primary-white-color;
    }

    & input {
      width: 30rem;
      height: 4rem;
      padding: 1rem;
      color: $primary-black-color;
      border: 1px solid $primary-purple-color;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }

    & p {
      text-align: center;
      color: $primary-white-color;
    }
  }
}

.link {
  color: $primary-white-color;
  border-bottom: 1px solid $primary-white-color;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
