@import "../app/styles/index.scss";

.container {
  @include container;

  & h1 {
    text-align: center;
    color: $primary-white-color;
    margin-bottom: 2rem;
  }

  & form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.inputWrapper {
  height: 8rem;
}

.reviewContainer {
  display: grid;
  grid-template-columns: 50rem 50rem;
  justify-content: center;
  align-items: center;
}

.posterContainer {
  height: 50rem;
  width: 40rem;
}
