@import "../app/styles/index.scss";

.notFound {
  height: 84vh;
  color: $primary-white-color;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $gradient;
  padding: 5rem;

  & h1 {
    font-size: 4rem;
    text-align: center;
  }
}
