@import "../../app/styles/index.scss";

.container {
  color: $primary-white-color;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  margin: 0 auto;
}

.movies {
  margin-bottom: 2rem;
  max-height: 35rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movieImage {
  width: 25rem;
  height: 32rem;
  margin-bottom: 1rem;
}

.movieName {
  gap: 2rem;
  display: flex;
  justify-content: space-between;
}
